.header {
  background: #A8DADC;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 75px;
}

.logo img {
  width: 300px;
  height: 33px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  font-size: 1.5em;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.menu-list__item {
  text-transform: uppercase;
}
.menu-list__item a {
  cursor: pointer;
  color: #E63946;
  font-weight: bold;
  text-shadow: #1D3557 3px 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}
.menu-list__item a:hover {
  color: #1D3557;
  text-shadow: #E63946 3px 3px;
}

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about {
  background-color: #1D3557;
  color: #F1FAEE;
}

.about-content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.about-content__title {
  padding: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px 60px #192d4a, -20px -20px 60px #213d64;
          box-shadow: 20px 20px 60px #192d4a, -20px -20px 60px #213d64;
  margin: 0;
  font-family: "Titallium";
  text-transform: uppercase;
  font-size: 70px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #E63946), color-stop(30%, #A8DADC), color-stop(60%, #A8DADC), color-stop(80%, #E63946));
  background: linear-gradient(to bottom, #E63946 20%, #A8DADC 30%, #A8DADC 60%, #E63946 80%);
  background-size: auto 200%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 2s ease-in-out infinite;
          animation: shine 2s ease-in-out infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: center 200%;
  }
}
@keyframes shine {
  to {
    background-position: center 200%;
  }
}

.about-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  -webkit-box-shadow: 20px 20px 60px #192d4a, -20px -20px 60px #213d64;
          box-shadow: 20px 20px 60px #192d4a, -20px -20px 60px #213d64;
}
.about-content__info a {
  color: #F1FAEE;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about-content__info img {
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 100%;
}

.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__item {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  overflow: hidden;
}
.cards__item a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.cards__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cards__item:hover img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}
.cards__item:hover .inner {
  opacity: 0.9;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.inner {
  border-radius: 20px;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  height: 40%;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  opacity: 0;
  text-align: center;
  color: #F1FAEE;
  background: #1D3557;
}
.inner h2 {
  padding-top: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #F1FAEE;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./../src/fonts/Silkscreen-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Titallium";
  src: url("./../src/fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}