$accentColour1: #E63946;
$accentColour2: #F1FAEE;
$accentColour3: #A8DADC;
$accentColour4: #457B9D;
$accentColour5: #1D3557;





// background: linear-gradient(135deg, #457b9d 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(225deg, rgba(69,123,157,0.5) 25%, transparent 25%) -32px 0/ 64px 64px, linear-gradient(315deg, #457b9d 25%, transparent 25%) 0 0/ 64px 64px, linear-gradient(45deg, rgba(69,123,157,0.5) 25%, #a8dadc 25%) 0 0/ 64px 64px;
// background-color: #a8dadc;